@model Galleria.ViewModels.RoleManagementViewModel

@{
    ViewData["Title"] = "Manage Roles";
}

<h1>Manage Roles for @Model.UserName</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="UserId" />
            <div class="card">
                <div class="card-header">Select roles to assign</div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model.Roles[i].RoleName" />
                            <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                                @Model.Roles[i].RoleName
                            </label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle-fill"></i> Save</button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i> Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>